body{
    color:white;
     background-color: #2d2d61;
     margin-left: 50px;
     margin-right: 50px;
}
#header{
    margin-top: 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color:#212148;
    border-radius: 20px;
}
#icon{
    margin-right:1px;
    color: rgb(126, 241, 195);
}
#heading{
    line-height: 0;
    margin-left: 10px;
    padding:10px;

}
#toggle{
    margin: 20px;
}

#sun,#moon,#user{
   margin:10px;
}
#start{
    margin-top: 40px;
    margin-left:20px;
    line-height: 0;
}
#start h2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    font-weight: lighter;   
}
#start p{
    line-height: 0;
    font-size: 16px;
    font-weight: light;
}
#grid{
    margin-top: 30px;
    display: flex;
    justify-content:space-between; 
}
#card{
    background-color: #1a1a4b;
    line-height: 0;
    padding-bottom: 20px;
    padding-left: 20px;
    border: 1px solid white;
    width: 300px;
    height:auto;
    border-radius: 20px;  
}
#card i{
    margin-left: 40px;
    padding: 10px;
    border-radius: 10px;
   
}
#card h6{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  font-weight: lighter;
}
#card p{
    font-size: 50px;
    font-family:serif;
}
#second-body{
    display: grid;
    height:auto;
    grid-template-columns: 400px 1010px;

}
#form-div{
    margin-top: 40px;
    border-radius: 20px;
    padding: 5px;
    background-color: rgb(41, 98, 149);
    background-color: #1d1d53;
}
#form h6{
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: 18px;
     margin-top: 30px;
     margin-left: 25px;
     line-height: 0;
      margin-bottom: 2px;
      padding: 0;
}

#form small{
    line-height: 3;
  margin-left: 25px;
}
#form-inside{
    line-height: 2;
    margin-left: 25px;
    
}
#form i{
    font-size: 16px;
    color: black;
  margin-left: 320px;
  background-color: rgb(126, 241, 195);
  border-radius: 40px;
  padding: 5px;
 
}
#form label{
    margin-top: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
     color: rgb(231, 231, 250);
}
#form input{
    border: 1px solid rgb(165, 170, 191);
    border-radius: 30px;
    width:330px;
    height:25px;
    padding: 15px;
    background-color: #101046;
    color: rgb(207, 207, 236);
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#form input:focus{
    border: 1px solid rgb(172, 177, 240);
}
#selector{
  display: flex;
  gap: 20px;
}
select{
    margin-left: 0;
    margin-top: 30px;
    height:auto;
    width: 90px;
    border-radius: 20px;
    padding: 10px;
    color: white;
    background-color: #1a1a4b;
    
}
select:focus{
    border: 1px solid white;
}
select option{
    background-color:rgb(27, 161, 184);
    color:black;
    background-color: #1a1a4b;
    padding:10px;
    color: white;
}
textarea{
    width: 330px;
    height: 50px;
    padding: 15px;
    font-size: 19px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     background-color: #101046;
     border-radius: 20px;
    color: rgb(207, 207, 236);

}
#btn{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    font-weight: bold;
    width: 330px;
    margin-left:13px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(126, 241, 195);
    height:50px;
}
#table{
    border: 1px solid white;
    border-radius: 20px;
    margin:40px;
}
#start-table{
    margin: 30px;
    padding: 20px;
}

